/* body to make sure automatic to take away the lines */
body {
    margin: 0; /* Remove default margin */
    padding: 20px /* Remove default padding */
    max-width: 100%; /* Set maximum width */
    margin: 0 auto; /* Center content horizontally */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.movie-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    body-color: #EFE9AE;
}

/* seperate button */
button {
    margin: 10px;
    font-size: 16px;
}

.post .container {
    width: auto;
}

.col-md-4 {
    background-color: #EEF0EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-md-8 {
    background-color: #EFE9AE;

}



#footer {
    background-color: white;
    height: 35px;
}



