{% extends "layout.html" %}
{% block body_content %}
<!-- TODO: ADD CSS Link to all files through JINJA-->
<link rel="stylesheet" href="{{ url_for('static', filename='main_styles.css') }}" type="text/css">

<div class="bg-2 text-center">
    <div class="row">
        <div class="col-md-4 vertical-centre">
            <h3>Hi!</h3>
            <h4> Welcome to Pick'N'Mix Movies </h4>
            <p>Stuck on what to watch? We can help you pick a movie!</p>

            <!-- LOGIN AND REGISTER BUTTONS -->
            <div>
                <a href="{{ url_for('login') }}">
                    <button type="button" class="btn btn-warning btn-md">Login</button>
                </a>

                <a href="{{ url_for('register') }}">
                    <button type="button" class="btn btn-warning btn-md">Register</button>
                </a>
            </div>
            <div>
                <a href="{{ url_for('movie') }}">
                     <button type="button" class="btn btn-dark">Find A Movie</button>
                </a>
            </div>


        </div>

        <div class="col-md-8">
            <div class="row">
                <div class="col" >
                    <img src="/static/images/boyandheron.jpg" alt="Boy and the Heron Poster" class="img-fluid">
                </div>
                <div class="col">
                    <img src="/static/images/clonecalledtyrone.jpg" alt="A clone called Tyrone Poster" class="img-fluid">
                </div>
                <div class="col">
                    <img src="/static/images/pastlives.jpg" alt="Past Lives Poster" class="img-fluid">
                </div>
                <div class="col">
                    <img src="/static/images/poorthing.jpg" alt="Poor Things Poster" class="img-fluid">
                </div>
                <div class="row">
                     <div class="col">
                        <img src="/static/images/thor.jpg" alt="Thor Poster" class="img-fluid">
                    </div>
                    <div class="col">
                        <img src="/static/images/taylorswift.jpg" alt="Taylor Swift Poster" class="img-fluid">
                    </div>
                    <div class="col">
                        <img src="/static/images/banalandadama.jpg" alt="Banal and Adama Poster" class="img-fluid">
                    </div>
                    <div class="col">
                        <img src="/static/images/alien.jpg" alt="Alien Poster" class="img-fluid">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
