{% extends "layout.html" %}
{% block body_content %}
<div class="movie-body">
    <h1 class="py-3">Random Movie Picker</h1>
    <form action="/movie" method="POST">
        <label for="genre">Select Genre:</label>
        <select id="genre" name="genre">
            <option value="">All Genres</option>
            <option value="Drama">Drama</option>
            <option value="Sci-Fi">Sci-Fi</option>
            <option value="Animation">Animation</option>
            <option value="Romance"> Romance</option>
        </select>
        <div class="py-3">
            <button type="submit" class="btn btn-info">Pick a Random Movie</button>
        </div>

    </form>

    <div class="movie-info">
        {% if movie %}
            <h2>Randomly Selected Movie:</h2>
            <h4>{{ movie[1] }}</h4>

            <div class="movie details">
                <p>Genre: {{ movie[3] }}</p>
                <p>Year: {{ movie[4] }}</p>
                <p>Duration: {{ movie[5] }}</p>
            </div>
            <!-- TODO:Ask victoria why inline CSS?            -->
            <img src="{{ url_for('static', filename=movie[2]) }}" alt="Movie Photo" id="move-img" style="max-width: 100%; height: 400px;">
        {% endif %}
    </div>
</div>
{% endblock %}